@model List<BankBranch>




<table class="table">
    <thead>
            <td>Bank Id</td>
            <td>Location Name</td>
            <td>Location URL</td>
            <td>Branch Manager</td>
            <td>Branch Name</td>
            <td>Employee Count</td>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Id</td>
                <td><a asp-controller="Bank" asp-action="Details" asp-route-id="@e.Id">Details</a></td>
                <td>@e.LocationURL</td>
                <td>@e.BranchManager</td>
                <td>@e.BranchName</td>
                <td>@e.EmployeeCount</td>
            </tr>
        }
    </tbody>
</table>
